.task {
  width: 100%;
  background: #333333;
  border: 1px solid #444444;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.moveButton {
  background: none;
  border: none;
  color: #4ea8de; /* Cor azulada para os botões de ação */
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveButton:hover {
  color: #5e60ce;
}

.textCompleted {
  color: #808080;
  text-decoration: line-through;
}