.tasks {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 1rem;
}

.kanbanBoard {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  overflow-x: auto; /* Scroll se a tela for pequena */
  padding-bottom: 2rem;
}

.column {
  flex: 1;
  min-width: 250px;
  background: #262626;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.columnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.columnHeader p {
  color: #4ea8de;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.columnHeader span {
  background: #333;
  color: #d9d9d9;
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 0.75rem;
}

.columnList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-height: 200px; /* Área mínima para conseguir soltar cards */
}

/* Estilo para quando a lista está vazia */
.empty {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: #808080;
  text-align: center;
}